.container
{
  min-height: 200px;
  max-height: 450px;
  min-width: 400px;
  max-width: 550px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  vertical-align: center;
}

.contents
{
  display: inline-block;
  height: 70%;
  min-height: 200px;
  max-height: 450px;
  min-width: 400px;
  max-width: 550px;
  text-align: center;
  padding: 30px;
  background-color: #ddd;
  border-radius: 50px;
  vertical-align: center;
}

.feedback_container
{
  height: 40px;
  width: 60px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
}

.feedback_contents
{
  height: 40px;
  width: 60px;
  text-align: right;
}

.github_container
{
  height: 40px;
  width: 60px;
  position: absolute;
  top: 80px;
  right: 0;
  margin: 20px;
  text-align: center;
}

.github_contents
{
  display: inline-block;
  height: 40px;
  width: 60px;
  text-align: right;
  vertical-align: center;
}

h1 {
  font-size: 46px;
  font-family: 'Berkshire Swash', cursive;
}

h2 {
  font-size: 32px;
  font-family: 'Berkshire Swash', cursive;
}

a {
  color: black;
  text-decoration: none;
}

div.feedback_contents {
  font-size: 42px;
}

div.contents p {
  font-size: 20px;
  font-family: 'Mali', cursive;
}
